<div class="content-area" *ngIf="postObservable| async as post; else loading">
    <h3>{{ post.title | uppercase }} </h3>
    <p class="post-body">{{ post.body | uppercase }}</p>
    <table class="table table-noborder">
      <thead>
      <tr>
        <th>{{ email }}</th>
        <th>{{ comment }}</th>
      </tr>
      </thead>
      <tbody *ngFor="let comment of post.comments">
      <tr>
        <td class="left">
          <a href="mailto:{{comment.email}}"> {{ comment.email }} </a>
        </td>
        <td class="left">{{ comment.body }}</td>
      </tr>
      </tbody>
    </table>
    <a class="btn btn-sm btn-link" (click)="goBack()">{{ back }}</a>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
